<app-header></app-header>

<div class="container">
    <div class="row profile">
		<div class="col-md-3">
			<div class="profile-sidebar">
				<!-- SIDEBAR USERPIC -->
				<div class="profile-userpic">
                    <!-- <a href="#" class="img-responsive"><i class="far fa-user-circle"></i></a> -->
					<img src="../../../assets/imgAdmin/user_Icon.png" class="img-responsive" alt="">
				</div>
				<!-- END SIDEBAR USERPIC -->
				<!-- SIDEBAR USER TITLE -->
				<div class="profile-usertitle">
					<div class="profile-usertitle-name">
						Sofia Fajardo
					</div>
					<div class="profile-usertitle-job">
						Administrador
					</div>
				</div>
				<!-- END SIDEBAR USER TITLE -->
				<!-- SIDEBAR BUTTONS -->
				<!-- <div class="profile-userbuttons">
					<button type="button" class="btn btn-success btn-sm">Follow</button>
					<button type="button" class="btn btn-danger btn-sm">Message</button>
				</div> -->
				<!-- END SIDEBAR BUTTONS -->
				<!-- SIDEBAR MENU -->
				<div class="profile-usermenu">
                    <div class="sidebar-heading border-bottom bg-dark admin-bar">
                        <a href="#" class="list-group-item list-group-item-action list-group-item-light p-3">
                            <i class="fas fa-sitemap"></i>
							<!-- <i class="glyphicon glyphicon-home"></i> -->
							Categorias 
                        </a>
                        <a href="#" class="list-group-item list-group-item-action list-group-item-light p-3">
                            <i class="fas fa-briefcase"></i>
							<!-- <i class="glyphicon glyphicon-home"></i> -->
							Empresas 
                        </a>

                        <a href="#" class="list-group-item list-group-item-action list-group-item-light p-3">
                            <i class="fas fa-motorcycle"></i>
							<!-- <i class="glyphicon glyphicon-user"></i> -->
							Motoristas 
                        </a>

                        <a href="#" class="list-group-item list-group-item-action list-group-item-light p-3">
							<i class="fas fa-users"></i>
							Clientes 
                        </a>

                        <a href="#" class="list-group-item list-group-item-action list-group-item-light p-3">
                            <i class="fab fa-first-order-alt"></i>
							<!-- <i class="glyphicon glyphicon-flag"></i> -->
							Ordenes 
                        </a>

                        <a href="#" class="list-group-item list-group-item-action list-group-item-light p-3">
                            <i class="fas fa-users-cog"></i>
							<!-- <i class="glyphicon glyphicon-flag"></i> -->
							Solicitud Motoristas 
                        </a>

                        <a (click)="authService.logout()" class="btnLogot list-group-item list-group-item-action list-group-item-light p-3">
                            <!-- <i class="fas fa-map-marker-alt"></i> -->
                            <!-- <i class="glyphicon glyphicon-flag"></i> -->
                            <i class="fas fa-sign-out-alt"></i>
                        Cerrar session 
                        </a>

                    </div>

					
				</div>
				<!-- END MENU -->
			</div>
		</div>
		<div class="col-md-9">
            <div class="profile-content">
				<div class="container">
					<div class="row">

						<div class="col-12 col-md-4 col-sm-4" id="maps">
                            <div class="card">
                                <img src="..." class="card-img-top" alt="...">
                                <div class="card-body">
                                  <h5 class="card-title">Card title</h5>
                                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                  <a href="#" class="btn btn-primary">Go somewhere</a>
                                </div>
                              </div>
							<!-- <iframe class="mapa" src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d15477.135828577111!2d-87.2518727!3d14.119391149999998!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1ses!2shn!4v1624065004626!5m2!1ses!2shn"></iframe> -->
						</div>
						<div class="col-12 col-md-4 col-sm-4" id="maps">
                            <div class="card">
                                <img src="..." class="card-img-top" alt="...">
                                <div class="card-body">
                                  <h5 class="card-title">Card title</h5>
                                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                  <a href="#" class="btn btn-primary">Go somewhere</a>
                                </div>
                              </div>
							<!-- <iframe class="mapa" src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d15477.135828577111!2d-87.2518727!3d14.119391149999998!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1ses!2shn!4v1624065004626!5m2!1ses!2shn"></iframe> -->
						</div>
						<div class="col-12 col-md-4 col-sm-4" id="maps">
                            <div class="card">
                                <img src="..." class="card-img-top" alt="...">
                                <div class="card-body">
                                  <h5 class="card-title">Card title</h5>
                                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                  <a href="#" class="btn btn-primary">Go somewhere</a>
                                </div>
                              </div>
							<!-- <iframe class="mapa" src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d15477.135828577111!2d-87.2518727!3d14.119391149999998!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1ses!2shn!4v1624065004626!5m2!1ses!2shn"></iframe> -->
						</div>
						<div class="col-12 col-md-4 col-sm-4" id="maps">
                            <div class="card">
                                <img src="..." class="card-img-top" alt="...">
                                <div class="card-body">
                                  <h5 class="card-title">Card title</h5>
                                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                  <a href="#" class="btn btn-primary">Go somewhere</a>
                                </div>
                              </div>
							<!-- <iframe class="mapa" src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d15477.135828577111!2d-87.2518727!3d14.119391149999998!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1ses!2shn!4v1624065004626!5m2!1ses!2shn"></iframe> -->
						</div>
						<div class="col-12 col-md-4 col-sm-4" id="maps">
                            <div class="card">
                                <img src="..." class="card-img-top" alt="...">
                                <div class="card-body">
                                  <h5 class="card-title">Card title</h5>
                                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                  <a href="#" class="btn btn-primary">Go somewhere</a>
                                </div>
                              </div>
							<!-- <iframe class="mapa" src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d15477.135828577111!2d-87.2518727!3d14.119391149999998!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1ses!2shn!4v1624065004626!5m2!1ses!2shn"></iframe> -->
						</div>

					</div>
				</div>
                <!-- contenidos relacionados... -->
                
            </div>
		</div>
	</div>
</div>
<div class="text-center">
<strong>@Derechos reservados <a href="http://j.mp/metronictheme" target="_blank">SoMo-PÁ</a></strong>
</div >
<br>
<br>
